source https://nuget.org/api/v2

nuget DotNetZip
nuget FSharpx
nuget FSharpx.Core
nuget FSharpx.Extras
nuget FAKE
nuget Newtonsoft.Json
nuget Suave
nuget System.IdentityModel.Tokens.Jwt
nuget BCrypt-Official
nuget Mono.Data.Sqlite.Portable
nuget Autofac
nuget AutoMapper
nuget MoonSharp
nuget FSharpLog
nuget FsPickler
nuget FSharp.Quotations.Evaluator
nuget SharpZipLib
nuget Zlib.Portable
nuget Topshelf
nuget System.Data.SQLite
nuget AngleSharp
nuget Selenium.WebDriver
nuget Selenium.WebDriver.ChromeDriver
nuget difflib
nuget LiteDB
nuget Argu